.doriante-title {
  font-family: var(--font-ogg);
  font-weight: 400;
  font-style: Regular;
  font-size: 40px;
  leading-trim: NONE;
  line-height: 100%;
  letter-spacing: 0%;
  margin: 0;
}
.doriante-title.arial {
  font-family: Arial, sans-serif;
  font-weight: 400;
  font-size: 32px;
  line-height: 100%;
  letter-spacing: 0%;
}

@media screen and (max-width: 768px) {
  .doriante-title {
    font-size: 36px;
  }
}
